table 
{
    width: 100%;
    border-collapse: collapse;
    text-align: center
}

table, th, td
{
    border: 1px solid black;
}

th, td
{
    padding: 5px;
}

th
{
    background-color: lightcoral;
}


#formdiv
{
    display: flex;
    flex-direction: column;
}

#formdiv
{
    width: 20%;
    text-align: left;
}

#formdiv label, button, input 
{
    margin: 1px;
    padding: 1px;
}


