table 
{
    width: 100%;
    border-collapse: collapse;
    text-align: center
}

table, th, td
{
    border: 1px solid black;
}

th, td
{
    padding: 5px;
}

th
{
    background-color: lightcoral;
}

#updatediv
{
    display: none;
    flex-direction: column;
    width: 20%;
    text-align: left;
}

#updatediv label, button, input
{
    margin: 3px;
    padding: 3px;
}


#formdiv
{
    display: flex;
    flex-direction: column;
    width: 20%;
    text-align: left;
}

#formdiv label, button, input 
{
    margin: 3px;
    padding: 3px;
}